[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
us = "*"
boltons = "*"
invoke = "*"
cached-property = "*"
tqdm = "*"
pandas = "*"
attrs = "*"
wordfreq = "*"
pytest = "*"
pytest-env = "*"
ujson = "*"
textblob = "*"
anytree = "*"
pygraphviz = "*"
pydot = "*"
networkx = "*"
datasketch = "*"
geopy = "*"
geopandas = "*"
descartes = "*"
python-box = "*"
SQLAlchemy = "*"
PyYAML = "*"
Shapely = "*"
numpy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.6"
