
ipython
jupyter
jupyterlab
matplotlib
seaborn
sqlalchemy
us
boltons
invoke
cached-property
tqdm
pandas
attrs
wordfreq
pytest
pytest-env
PyYAML
ujson
textblob
anytree
wordfreq
pygraphviz
pydot
networkx
datasketch
geopy
shapely
